.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
  line-height: 32px;
  color: #fff;
  text-align: center;
}

.headerbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  background-color: #fff;
}

.page-content {
  margin: 24px 16px;
  padding: 0 24px 24px;
  background: #fff;
}
