body {
  -webkit-font-smoothing: antialiased;
}

:global(.page-header) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -24px 30px;
  height: 60px;
  padding: 0 24px;
  border-bottom: 1px solid #eee;
}

:global(.page-header h3) {
  margin: 0;
}

:global(.page-operates .ant-btn + .ant-btn) {
  margin-left: 20px;
}
