.menu-setting,
.menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-items {
  padding-left: 24px;
}

.menu-item-detail {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}

.toggle {
  margin-right: 10px;
}

.menu-name {
  margin-left: 10px;
  width: 80px;
}

.menu-url {
  color: #198eff;
}
